---
// src/pages/index.astro
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs, LanguageSelector, } from "astro-i18next/components";
import { Icon } from "astro-icon";

changeLanguage("sq");
---

<html lang={i18next.language}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{t("site.title")}</title>
    <meta name="description" content={t("site.description")} />
    <HeadHrefLangs />
  </head>
  <body>
    <div class="flex">
      <Icon name="mdi:translate" class="w-5 h-5" />
      <LanguageSelector showFlag={true} class="my-select-class" />
    </div>
    <h1 class="text-red-400">{t("home.title")}</h1>
    <p>
      <Trans i18nKey="home.subtitle">
        This is a <em>more complex</em> string to translate, mixed with <strong
          >html elements
        </strong> such as <a href="https://example.com/">a cool link</a>!
      </Trans>
    </p>
  </body>
</html>
