<footer aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>

  <div class="px-4 py-12 mx-auto s max-w-7xl sm:px-6 lg:px-16">
    <div class="flex flex-wrap text-slate-400 items-baseline lg:justify-center">
      Designed & Built by
      <span class="mt-2 text-sm font-light">
        <a
          href="https://admirg.netlify.app/links"
          class="mx-2 hover:text-slate-500"
          rel="noopener noreferrer">@admirgorenca</a
        >
      </span>
    </div>
  </div>
</footer>
